<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>
<table class="table">
    <%
        templateSummary = students[0]['grade_summary']
    %>
    <thead>
        <tr> <!-- Header Row -->
            <th></th>
            %for section in templateSummary['section_breakdown']:
                <th>${section['label']}</th>
            %endfor
            <th>${_('Total')}</th>
        </tr>
    </thead>
    <tbody>
        %for student in students:
            <tr>
                <td>
                    <a href="${reverse('student_progress', kwargs=dict(course_id=text_type(course_id), student_id=student['id']))}">${student['username']}</a>
                </td>
                %for section in student['grade_summary']['section_breakdown']:
                    <td>${ "{0:.0f}".format( 100 * section['percent'] ) }</td>
                %endfor
                <td>${ "{0:.0f}".format( 100 * student['grade_summary']['percent'] ) }</td>
            </tr>
      %endfor
    </tbody>
</table>

